.carte-profil {
  background: #f5f7fa;
  border-radius: 16px;
  padding: 24px;
  width: 330px;
  box-shadow: 5px  5px 8px rgba(33, 82, 163, 0.12);
  margin: 32px auto;
  text-align: center;
}

.avatar {
  border: 4px solid #FFD966;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.carte-profil h2 {
  color: #113066;
  font-weight: bold;
  margin-bottom: 0px;
}

.specialite{
  color: #219C90;
  font-weight: bold;
  font-size: small;
  margin-bottom: 16px;
  margin-top: 2px;
}

.presentation {
  color: #555;
  background-color: white;
  padding-bottom: 12px;
  margin: 30px 0px;
  padding: 7px;
  border-radius: 7px;
  text-align: left;
}

.email {
  color: #2152A3;
  font-size: small;
  font-style: italic;
}

.contact {
  background: #2152A3;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  padding: 10px 32px;
  border-radius: 8px;
  text-decoration: none;
}
.carte-profil:hover{
    background-color: #eaf3fc;
  box-shadow: 5px  5px 8px rgba(33, 82, 161, 0.22);
}

.carte-profil:hover .contact{
    color: #FFD966;
    background-color: #219C90;
}
@media(max-width:700px) {
    .carte-profil{
    width: auto;
}
.avatar{
    width: 200px;
    height: 200px;
}
}